{% liquid 
   assign video_url = block.settings.video_url
   assign video = block.settings.video
%}

<div>
  {{video}}
  <br><br><br>
  {{video_url.id}}
</div>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "video",
      "label": "Video",
      "id": "video"
    },
    {
      "type": "video_url",
      "label": "Video Link",
      "id": "video_url",
      "accept": ["youtube","vimeo"]
    }
  ],
  "presets": [
    {
      "name": "Video"
    }
  ]
}
{% endschema %}
