{% liquid 
   assign video_url = block.settings.video_url
   assign video = block.settings.video
   assign loop = block.settings.loop
   assign controls = block.settings.controls
   assign autoplay = block.settings.autoplay

   assign looping = false 

   if loop == true

    assign looping = true 
  
   endif

   assign control = false 

   if controls == true

    assign control = true 
  
   endif

   assign auto = false 

   if autoplay == true

    assign auto = true 
  
   endif




    %}

<div>
  {% if video != blank %}
    {{ 
      video | 
      video_tag: image_size: "1100x", loop:looping , controls:control , autoplay:auto
    }} 
  {% else %}
    {% if video_url != blank %}
      {% if video_url contains "youtube.com" or video_url contains "youtu.be" %}
        <iframe 
          width="100%" 
          height="315" 
          src="{{ video_url | replace: 'watch?v=', 'embed/' }}" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>
      {% elsif video_url contains "vimeo.com" %}
        <iframe 
          width="560" 
          height="315" 
          src="https://player.vimeo.com/video/{{ video_url | split: '/' | last }}" 
          title="Vimeo video player" 
          frameborder="0" 
          allow="autoplay; fullscreen; picture-in-picture" 
          allowfullscreen>
        </iframe>
      {% else %}
        <p>Invalid video URL</p>
      {% endif %}
    {% else %}
      <p>No video available</p>
    {% endif %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "video",
      "label": "Video",
      "id": "video"
    },
    {
      "type": "url",
      "label": "Video Link",
      "id": "video_url"
    },
    {
      "type": "checkbox",
      "label": "Loop",
      "id": "loop",
      "default": false

    },
    {
      "type": "checkbox",
      "label": "controls",
      "id": "controls",
      "default": true

    },
    {
      "type": "checkbox",
      "label": "Autoplay",
      "id": "autoplay",
      "default": false

    }
  ],
  "presets": [
    {
      "name": "Video"
    }
  ]
}
{% endschema %}