{% liquid 
   assign video_url = block.settings.video_url
   assign video = block.settings.video
%}

<div>
  {{ video | video_tag }} <!-- Renders uploaded video if available -->
  <br><br><br>

  {% if video_url != blank %}
    {% if video_url contains "youtube.com" or video_url contains "youtu.be" %}
      <iframe 
        width="100%" 
        height="315" 
        src="{{ video_url | replace: 'watch?v=', 'embed/' }}" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>
    
    {% elsif video_url contains "vimeo.com" %}
      <iframe 
        width="560" 
        height="315" 
        src="https://player.vimeo.com/video/{{ video_url | split: '/' | last }}" 
        title="Vimeo video player" 
        frameborder="0" 
        allow="autoplay; fullscreen; picture-in-picture" 
        allowfullscreen>
      </iframe>
    
    {% else %}
      <p>Invalid video URL</p>
    {% endif %}
  {% else %}
    <p>No video available</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "video",
      "label": "Video",
      "id": "video"
    },
    {
      "type": "video_url",
      "label": "Video Link",
      "id": "video_url",
      "accept": ["youtube","vimeo"]
    }
  ],
  "presets": [
    {
      "name": "Video"
    }
  ]
}
{% endschema %}
