
{%liquid 
   assign video_url = block.settings.video_url
   

%}

<div>
 
  {{video_url}}
 
</div>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "video_url",
      "label": "Video Link",
      "id": "video_url",
      "accepts": ["youtube","vimeo"]
    }
    ],
    "presets": [
      {
        "name": "Video"
      }
    ]
    
}
{% endschema %}